/* Styling for the Language element */
Language {

  /* Show the text in a single line */
  display: block;

  /* Center the texts */
  text-align: center;

  /* Set font size to 24pt */
  font-size: 24pt;

  /* Set font variant to small-caps */
  font-variant: small-caps;
}

/* Styling for the Author element */
Author {

  /* Set the padding above it to 1.5 cm */
  padding-top: 1.5cm;

  /* Set the padding below it to 2.5cm */
  padding-bottom: 2.5cm;

  /* Show the text in a single line */
  display: block;

  /* Center the texts */
  text-align: center;

  /* Set font size to 16pt */
  font-size: 16pt;

  /* Set font variant to small-caps */
  font-variant: small-caps;
}

/* Styling for every child element to the Words element */
Words * {

  /* Show the words in separete lines */
  display: block;

  /* Align the words to the left */
  text-align: left;

  /* Set font size to 12pt */
  font-size: 12pt;
}
